build:clippy --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build:clippy --output_groups=+clippy_checks
# So that we don't promote every warning to an error
build:clippy --@rules_rust//:clippy_flag="-Wwarnings"